{% extends 'admin/base.html' %}
{% load static%}




{% block content %}
<script type="text/javascript">
		 		setTimeout(function() {
    			$('#msg').fadeOut('slow');
    			
				}, 2000);
          
	</script>
	<div style="background-color: white; color:green ; font-size: 22px" id="msg"><b>{{msg}}</b></div>

<div class="container-fluid">

				<div class="row">
					<div class="col-md-12">

						<h2 class="page-title">Manage Products</h2>

						<!-- Zero Configuration Table -->
						<div class="panel panel-default">
							<div class="panel-heading">Product Details</div>
							<div class="panel-body">
								<table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
									<thead>
										
										<tr>
										<th>Product ID</th>
											<th>Product Name</th>
											<th>Product Description </th>
											<th>Price</th>
											<th>Cateogry</th>
											<th>Quantity</th>
											<th>Image</th>
											<th>EDIT</th>
										</tr>
									</thead>
									 {% for x in data %} --
									<tbody>
										<td>{{x.id}}</td>
										<td>{{x.productname}}</td>
										<td>{{x.productdesc}}</td>
										<td>{{x.price}}</td>
										<td>{{x.category}}</td>
										<td>{{x.quantity}}</td>
										<td><img src="{{x.image.url}}" alt="img" width="100 px" height="100 px"></td>
										<td><a href="/admin/editpro/1/?id={{x.id}}">Edit</a> 	
											
									</tbody>
									{% endfor %}
								</table>



							</div>
						</div>



					</div>
				</div>

			</div>

{% endblock %}
