{% extends 'entrepreneurs/base.html' %}
{% load static%}




{% block content %}

		

<!-- <!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>EWE </title>

<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css"  %}" type="text/css">

<link rel="stylesheet" href="{% static "assets/css/styles.css" %}" type="text/css">

<link rel="stylesheet" href="{% static "assets/css/owl.carousel.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "assets/css/owl.transitions.css" %}" type="text/css">

<link href="{% static "assets/css/slick.css" %}" rel="stylesheet">

<link href="{% static "assets/css/bootstrap-slider.min.css" %}" rel="stylesheet">

<link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">





<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "assets/images/favicon-icon/apple-touch-icon-144-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/images/favicon-icon/apple-touch-icon-114-precomposed.html" %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon-icon/apple-touch-icon-72-precomposed.png" %}">
<link rel="apple-touch-icon-precomposed" href="{% static "assets/images/favicon-icon/apple-touch-icon-57-precomposed.png" %}">

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

<link href="{% static "css/css/bootstrap.css" %}" rel='stylesheet' type='text/css' />

<script type='text/javascript' src="{% static "/css/js/jquery-1.11.1.min.js" %}"></script>

<link href="{% static "/css/css/style.css" %}" rel='stylesheet' type='text/css' />

</head>
<body>



<style>
  .blink {
        animation: blinker 0.7s linear infinite;
        color: #1c87c9;
       }
  @keyframes blinker {  
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 1s linear infinite;
       }
       @keyframes blinker-one {  
         0% { opacity: 0; }
       }
       .blink-two {
         animation: blinker-two 1.4s linear infinite;
       }
       @keyframes blinker-two {  
         100% { opacity: 0; }
       }

</style> -->
<section class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <h2>Welcome to<span>World of Entrepreneurs</span></h2>
      <p></p>
    </div>
    <div class="row">

      <div class="recent-tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="" role="tab" data-toggle="tab">Empowerment of Women Entrepreneurship</a></li>
        </ul>
      </div>
      
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="resentnewcar">


      </div>
    </div>
  </div>
</section>


<!-- <script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/interface.js" %}"></script>


<script src="{% static "assets/js/bootstrap-slider.min.js" %}"></script>

<script src="{% static "assets/js/slick.min.js" %}"></script>
<script src="{% static "assets/js/owl.carousel.min.js" %}"></script> -->
<!-- </body>
</html>
 -->
					
				




	

{% endblock %}

