{% extends 'entrepreneurs/base.html' %}
{% load static%}




{% block content %}
	<div class="login-pagebk-img">
		<div class="form-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1 class="text-center text-bold text-light mt-4x">Training</h1>
						<div class="well row pt-2x pb-3x bk-light">
							<div class="col-md-8 col-md-offset-2">
								<!-- <form method="post" action="admin/tmodule/"  enctype="multipart/form-data" nonvalidate> -->
									{% csrf_token %}
									<label for="" class="text-uppercase text-sm">Category </label>
									{% for x in data %}
									<input type="text" value="{{x.Category}}" name="category" class="form-control mb" required="required">

									<label for="" class="text-uppercase text-sm">URL </label>
									<input type="text" value="{{x.URL}}" name="url" class="form-control mb" required="required">
									<label for="" class="text-uppercase text-sm">Discription </label>
									<input type="text" value="{{x.Description}}" name="description" class="form-control mb" required="required">

									<label for="" class="text-uppercase text-sm">Image </label>
									<img src="{{x.image.url}}" alt="img" width="100 px" height="100 px">
									
									<!-- <button class="btn btn-primary btn-block" name="submit" type="submit">Submit</button> -->
									{% endfor%}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
