{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
	
	
	<div class="login-pagebk-img">
		<div class="form-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1 class="text-center text-bold text-light mt-4x">EDIT PRODUCTS</h1>
						<div class="well row pt-2x pb-3x bk-light">
							<div class="col-md-8 col-md-offset-2">
								<form method="post" action="/admin/editpro/2/" enctype="multipart/form-data" nonvalidate>
									{% csrf_token %}
									{% for x in prod %}
									<input type="hidden" name="id"  class="form-control mb" value="{{x.id}}">
									<label for="" class="text-uppercase text-sm">Product name </label>
									<input type="text" placeholder="Enter Product name" name="pname"  class="form-control mb" value="{{x.productname}}">
									<label for="" class="text-uppercase text-sm">Product Description</label>
									<input type="text" placeholder="Enter Product Description" name="pdesc" class="form-control mb" value="{{x.productdesc}}">
									<label for="" class="text-uppercase text-sm">Price </label>
									<input type="number" placeholder="Enter Price" name="price" class="form-control mb" value="{{x.price}}">
									<label for="" class="text-uppercase text-sm">Category </label>
									<!-- <input type="text" placeholder="select categories" name="category" class="form-control mb" value="{{x.category}}"> -->
									<select name="category"  class="form-control mb" required="required">
										<option value="{{x.category}}">{{x.category}}</option>
										{% for y in cat %}
										<option>{{y.Category}}</option>
										{% endfor %}
										
									</select>
									<label for="" class="text-uppercase text-sm">Quantity</label>
									<input type="number" placeholder="Enter Quantity" name="quantity" class="form-control mb" value="{{x.quantity}}">
									
									
									<label for="" class="text-uppercase text-sm">Current Image </label>
								    <div><img src="{{x.image.url}}" width="144px" height="144px" alt="img"></div></br>

									<!-- <label for="" class="text-uppercase text-sm">Update  Image </label>
									<input type="file" placeholder="Select an image " name="image" class="form-control mb" value=""> -->

									<button class="btn btn-primary btn-block" name="submit" type="submit">Submit</button>
									{% endfor %}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
